.navbar {
    width: auto;
    height: 50px;
    background-color: var(--hover-color);
    margin: 15px;
}

.logo-container {
    display: flex;
    margin: 15px;
}

.logo-container img {
    width: 150px;
    height: auto;
}

.container {
    height: inherit;
    background-color: var(--second-color);
    padding: 15px;
    display: flex;
    gap: 30px;
}

@media (max-width: 768px) {
    .logo-container {
        justify-content: center;
    }

    .logo-container img {
        width: 100px;
    }

    .container {
        justify-content: space-between;
    }

}