/* Import styles for individual components */
@import './components/Header/Header.css';
@import './components/Card/Card.css';

:root {
  --main-color: #3726a6; 
  --accent-color: #f25c05;
  --hover-color: #eea77d;
  --second-color: #dfdfdf;
}

/* General */
li {
  list-style: none;
}

.main-content {
  min-height: calc(100vh - 100px);
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
  width: 100%;
  height: auto;
}