/* Import styles for individual components */
@import './components/Header/Header.css';
@import './components/Card/Card.css';

:root {
  --main-color: #c4c4c4;
  --hover-color: #212121;
  --accent-color: #f25c05;
}

/* General */
li {
  list-style: none;
}

.main-content {
  min-height: calc(100vh - 100px);
}

.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 15px;
  width: 100%;
  height: auto;
}